@font-face {
  font-family: "mont";
  src: url("../fonts/mont/mont-heavy.ttf") format("truetype");
}

@font-face {
  font-family: inter;
  font-weight: 600;
  src: url("../fonts/inter/Inter-SemiBold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  background: #ffffff;
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 39%,
    rgba(191, 205, 255, 1) 100%
  );
}

.head-sec {
  background: #f5f7fa;
  box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.32);
  -webkit-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.32);
  -moz-box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.32);
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.head-sec__title,
.enter-pin__numbers {
  font-family: mont;
}

.head-sec__title {
  font-size: 1.7rem;
  color: #343c6a;
  font-weight: 900;
}

.head-sec__logo {
  display: flex;
  align-items: center;
}

.head-sec__img {
  margin-right: 6px;
}

.head-sec__date {
  font-weight: 600;
  letter-spacing: 1px;
}

.main-sec {
  margin: auto;
}

.pin-form {
  width: 100%;
  max-width: 1270px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 80px;
  /* From https://css.glass */
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.7px);
  -webkit-backdrop-filter: blur(4.7px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  padding: 30px;
  border-radius: 20px;
}

.pin-form__input-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  position: relative;
  margin-top: 20px;
}

.pin-form__input-bg {
  border-bottom: 1px solid black;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
}

.head-sec__date,
.pin-form__inp-head,
.pin-form__error,
.pin-form__status {
  font-family: inter;
}

.pin-form__inp-head {
  font-size: 1.875rem;
}

.pin-form__input {
  position: absolute;
  border: none;
  outline: none;
  background: transparent;
  color: transparent;
  caret-color: transparent;
  width: 100%;
  height: 100%;
}

.pin-form__error,
.pin-form__status {
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  height: 20px;
}

.pin-form__error {
  color: red;
  white-space: pre-line;
  margin-top: 10px;
}

.pin-form__status {
  color: green;
  margin-top: 20px;
}

.enter-pin__numbers {
  display: flex;
  gap: 20px;
}

.enter-pin__numbers--col1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.enter-pin__numbers--col2 {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 10px;
}

.enter-pin__num-btn-row {
  display: flex;
  justify-content: space-evenly;
  gap: 20px;
}

.enter-pin__num-btn,
.enter-pin__num-btn--disabled {
  height: 100px;
  width: 100px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 50%;
  border: none;
  outline: none;
  font-size: 1.8rem;
  cursor: pointer;
  background: rgba(255, 255, 255, 0);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5.1px);
  -webkit-backdrop-filter: blur(5.1px);
  border: 2px solid rgba(255, 255, 255, 1);
}

.enter-pin__action-btn {
  font-size: 1.5rem;
  padding: 30px 40px;
  border-radius: 20px;
  outline: none;
  border: none;
  cursor: pointer;
}

.enter-pin__action-btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.enter-pin__num-btn:hover {
  background: #fff;
  box-shadow: rgba(255, 255, 255, 0.25) 0px 30px 60px -12px,
    rgba(255, 255, 255, 0.3) 0px 18px 36px -18px inset;
}

.enter-pin__cancel-btn {
  background: #bf0000;
  color: #fff;
}

.enter-pin__cancel-btn:hover {
  background: #ff0000;
}

.enter-pin__correct-btn {
  background: #e0c302;
}

.enter-pin__correct-btn:hover {
  background: #ffe100;
}

.enter-pin__submit-btn {
  background: #004a0b;
  color: #fff;
}

.enter-pin__submit-btn:disabled {
  background: #b3b3b3;
  cursor: not-allowed;
}

.enter-pin__submit-btn:disabled:hover {
  box-shadow: none;
}


/* menu page */

.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px 10px;
}

.menu__head,
.menu__list{
    font-family: inter;
}

.menu__head{
    margin-bottom: 20px;
}

.menu__list{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 80px;
}

.menu__item{
    list-style: none;
}
